 .wrap {width: 700px; min-height: 600px; }
 .wrap {text-align:left; text-decoration: none; background-color: white;}
 .wrap {margin: 20px; margin-right: auto; margin-left: auto; }

header {height: 80px; }
article{width: 560px; }
nav {width: 700px; }
nav a {height: 20px; }
footer {height: 70px; }
.left {float: left;}
#username{width: 300px; height: 30px;}
#password{width: 300px; height: 30px;}
label{font-size: 15px}

 body {list-style: none;font-family: Verdana, Geneva, sans-serif; font-weight: bold;}
 body {margin: 0; padding: 0; line-height: 1.2em; font-size: 0.75em; line-height: 1.2em}
 header {vertical-align: middle; }

 a { text-decoration: none; }

#font{font-size: 12px; text-decoration: none;}
 #Logo{color: #FF0000;font-size: 48px;}  
}
